/** Analysis suggestions **/
.bgseo-recommendations {
	display: inline-block;
	margin-left: -12px;
}
.analysis-suggestion::before {
	display: inline-block;
	float: left;
	margin: 3px 10px 3px -22px;
	width: 13px;
	height: 13px;
	content: '';
	vertical-align: middle;
	border-radius: 100%;
}
.analysis-suggestion {
	float: left;
	margin-left: 32px;
}
.analysis-suggestion.red::before {
	background: red;
}
.analysis-suggestion.green::before {
	background: green;
}
.analysis-suggestion.yellow::before {
	background: goldenrod;
}

/** Nofollow/Noindex styles **/
#butterbean-control-bgseo_robots_index .butterbean-radio-list li,
#butterbean-control-bgseo_robots_follow .butterbean-radio-list li {
	display: inline-block;
	padding-right: 1em;
}
